@use '../abstract/colors';
@use '../abstract/mixins';



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 550px;
    background: colors.$green;
}
.footer__h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: color-change2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}